*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/**Boot CSS**/

html,body{
    height: 100%;
}

body{
    overflow-x: hidden;
}

img{
    width: 100%;
    max-width: 400px;
}

.center{
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    width: 50%;
    padding: 0 2%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/**Estilização**/

header{
    background: #3D437A;
    padding: 20px 0;
}

header .logo{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 8px;
}

.logo a{
    text-decoration: none;
    color: white;
}

.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.desktop li:hover{
    text-decoration: underline !important; 
}

section.banner-container{
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-single{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(51, 51, 51, 0.5); /**Sombreado**/
}

section.banner-container form{
    width: 93%;
    max-width: 600px;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
}

section.banner-container form h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-container form input[type=email]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
}

section.banner-container form input[type=submit]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #00C596;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border: 0;
}

section.descricao-autor{
    padding: 40px 0;
}

section.descricao-autor h2{
    font-size: 28px;
    font-weight: 400;
    color: #444;
}

section.descricao-autor p{
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

section.especialidades{
    padding: 40px 0;
    background: #E2E2E2;
}

section.especialidades h2.title{
    font-size:  30px;
    text-align: center;
    font-weight: 400;
    color: #999;
}

.box-especialidade{
    padding: 0 30px;
    margin: 40px 0;
    text-align: center;
}

.box-especialidade h3{
    font-size: 40px;
    color: #404580;
}

.box-especialidade h4{
    font-weight: 300;
    font-size: 25px;
    color: #BABABA;
}

.box-especialidade p{
    color: #444;
    font-size: 15px;
    margin-top: 10px;
}

section.extras{
    padding: 30px 0;
    background: #404580;
}

.servicos-container,.depoimentos-container{
    padding: 0 50px;
}

section.extras .title{
    color: white;
    font-weight: 300;
    font-weight: 25px;
    margin-bottom: 15px;
}

.depoimento-single{
    padding: 15px 0;
    border-bottom: 1px solid #5056a0;
}

p.depoimento-descricao{
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor{
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.servicos ul{
    margin: 20px 0;
}

.servicos li{
    font-size: 15px;
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
}

footer{
    background: #313462;
    padding: 30px 0;
}

footer p{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

footer.fixed{   /**fixando o footer**/
    position: fixed;
    bottom: 0;
    width: 100%;
}

section.erro-404 h2{
    text-align: center;
    font-size: 28px;
    color: #444;
    font-weight: 400;
    border-top: 2px solid #444;
}

section.erro-404 p{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #444;
    font-weight: 300;
}

section.erro404 a{
    color: #444;
}

.wrapper-404{
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 100%;
    left: 50%;
    padding: 0 2%;
    text-align: center;
    position: absolute;
    top: 50%;
}
.wrapper-404 img{
    width: 100%;
    max-width: 1000px;
}

.contato-container{
    text-align: center;
    padding: 40px 0;
    
}

.contato-container input[type=text], .contato-container input[type=email]{
    margin: 8px 0;
    width: 100%;
    height: 40px;
    padding-left: 8px;
    font-size: 16px;
    max-width: 800px;
    color: #444;
}

.contato-container textarea{
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    height: 100px;
    padding-left: 8px;
    font-size: 16px;
    max-width: 800px;
    resize: vertical;
    color: #444;
}

.contato-container input[type=submit]{
    background: #00C59E;
    width: 140px;
    height: 40px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 770px){
    img{
        float: none !important; /**!important força a regra**/
        display: block;
        margin: 0 auto;
    }

    .w50{
        padding: 20px;
        width: 100%;
    }

    .logo{
        padding-left: 8px;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }

    .box-especialidade{
        padding: 40px 20px;
        margin: 0;
    }

}

@media screen and (max-width: 740px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    .botao-menu-mobile{
        font-size: 24px;
        cursor: pointer;
        color: white;
        padding-right: 8px;
    }

    nav.mobile ul{
        top: 55px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        display: none;
        text-align: center;
    }

    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        font-size:  17px;
        padding: 8px 0;
    }

    nav.mobile li a{
        display: block;
        color: #444;
        text-decoration: none;
    }
}
